*{
    box-sizing: border-box;
}

#nav-bar > li {
    font-size: 2rem;
    height: 5dvh;
    list-style: none;
}

#nav-bar > li > a,
#nav-bar > li > a:visited {
    color: #DAA520;
    margin-left: 1dvw;
    text-decoration: none;
    cursor: pointer;
}